.button {
  position: relative;
  display: inline-block;
  margin-top: auto;
  padding-inline: 12px;
  width: auto;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  border-radius: 9999px;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.04);
}