.toast {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px 14px 13px;
  width: 100%;
  font-size: 13px;
  border-radius: 8px;
  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08),
    0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  transition: opacity 400ms ease, transform 400ms ease;
  opacity: 0;
  transform: translateY(100%);
}

.toast[data-mounted="true"] {
    opacity: 1;
    transform: translateY(calc(var(--index) * (100% + var(--gap)) * -1));
}

.toast p {
    margin: 0;
}

.title {
  font-weight: 500;
  color: #1b1b1d;
}

.description {
  font-weight: normal;
  line-height: 1;
  color: #717175;
}