.toast {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    gap: 4px;
    padding: 10px 14px 13px;
    width: 100%;
    font-size: 13px;
    border-radius: 8px;
    box-shadow:
        0px 0px 0px 1px rgba(0, 0, 0, 0.08),
        0px 1px 2px -1px rgba(0, 0, 0, 0.08),
        0px 2px 4px 0px rgba(0, 0, 0, 0.04);

    --ease-out-quint: cubic-bezier(0.23,1,0.32,1);
    transform-origin: bottom;
    will-change: transform, opacity;
    opacity: 1;
    transform: translateY(calc(var(--index) * (100% + var(--gap)) * -1)) scale(1);
    transition-duration: 500ms;
    transition-timing-function: var(--ease-out-quint);
    transition-property: opacity, transform;

    @starting-style {
        opacity: 0;
        transform: translateY(100%) scale(0.95);
    }

}

.toast p {
    margin: 0;
}

.title {
  font-weight: 500;
  color: #1b1b1d;
}

.description {
  font-weight: normal;
  line-height: 1;
  color: #717175;
}